.project-card {
    display: grid;
}

.project-title {
    
}

.p-title-link {
    
}

.project-summary {
    color: rgba(240, 240, 240, 0.7)
}

.head-wrapper {
    
}

.projects-wrapper {
    
}


.project-title:hover {
    background-color: rgba(240, 240, 240, 0.5)
}

.legend {
    margin: 200px 5%;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow
}

.orange {
    color: #DC4D01
}

.project-grid-wrapper {
    display: grid;
    justify-content:space-between;
}