{{ define "main" }}

<head>
    <link rel="stylesheet" href="/css/about.css">
    <script src="/js/about.js"></script>
</head>

<div style="display: flex; justify-content: center">
    <h1 class="text">{{ .Title }}</h1>
</div>
<section class="about-content text">
{{ .Content }}
</section>
<section class="contact text">
    <div id="form-wrapper">
        <form>
            <label for="contact-reply">From: </label>
            <br>
            <input type="text" id="contact-reply">
            <br>
            
        </form>
    </div>
</section>
{{ end }}