{{ define "main" }}

<head>
    <link rel="stylesheet" href="/css/about.css">
</head>

<div style="display: flex; justify-content: center">
    <h1 class="text">{{ .Title }}</h1>
</div>
<section class="about-content text">
{{ .Content }}
</section>
<section class="contact text">
    <div id="form-wrapper">
        <form id="contact-form">
            <label for="contact-from">From: </label>
            <input type="text" id="contact-from">
            
            <label for="contact-about">Subject: </label>
            <input type="text" id="contact-about">
            <br>
            <textarea id="contact-body"></textarea>

            <input type="submit">
        </form>
    </div>
</section>
<script src="/js/about.js"></script>
{{ end }}